# Python
__pycache__/
*.py[cod]
*.so

# Virtual envs
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints

# Data & models (don't push large processed files)
data/processed/
*.joblib
*.pkl

# OS
.DS_Store
Thumbs.db

# Packaging / build
dist/
build/
*.egg-info/

# Logs
logs/

data/archive/
data/processed/
*.zip
*.tar
*.h5
*.ckpt
*.pkl
__pycache__/
.ipynb_checkpoints/

